<clr-main-container>
  <clr-header class="header-4">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="shield"></clr-icon>
        <span class="title">E*Trudite</span>
      </a>
    </div>
  </clr-header>
  <div class="register-wrapper">
    <clr-wizard #wizardlg [(clrWizardOpen)]="mdOpen" clrWizardSize="lg" [clrWizardClosable]="false" (clrWizardOnCancel)="doCancel()" (clrWizardOnFinish)="doRegister()" novalidate>
      <clr-wizard-title>Registration</clr-wizard-title>

      <clr-wizard-button [type]="'cancel'" routerLink="/login" routerLinkActive="active">Cancel</clr-wizard-button>
      <clr-wizard-button [type]="'previous'">Previous</clr-wizard-button>
      <clr-wizard-button [type]="'next'">Next</clr-wizard-button>
      <clr-wizard-button [type]="'finish'">Done</clr-wizard-button>

      <clr-wizard-page [clrWizardPageNextDisabled]="firstName.pristine || !formPageOne.valid">
        <ng-template clrPageTitle>Howdy stranger!</ng-template>
        <ng-template clrPageNavTitle>Name</ng-template>
        <form #formPageOne="ngForm">
          <section class="form-block">
            <label>Please tell us your name</label>
            <div class="form-group">
              <label>First Name</label>
              <label for="firstNameInput" aria-haspopup="true" role="tooltip" [class.invalid]="firstName.touched && !firstName.valid" class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                <input type="text" id="firstNameInput" required [(ngModel)]="signup.firstName" name="firstName" #firstName="ngModel">
                <span class="tooltip-content">This field cannot be empty!</span>
              </label>
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <label for="lastNameInput" aria-haspopup="true" role="tooltip" [class.invalid]="lastName.touched && !lastName.valid" class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                <input type="text" id="lastNameInput" required [(ngModel)]="signup.lastName" name="lastName" #lastName="ngModel">
                <span class="tooltip-content">This field cannot be empty!</span>
              </label>
            </div>
          </section>
        </form>
      </clr-wizard-page>

      <clr-wizard-page [clrWizardPageNextDisabled]="email.pristine || !formPageTwo.valid">
        <ng-template clrPageTitle>Let's keep in touch</ng-template>
        <ng-template clrPageNavTitle>Email</ng-template>
        <form #formPageTwo="ngForm">
          <section class="form-block">
            <label>What's your email?</label>
            <div class="form-group">
              <label>Email</label>
              <label for="emailInput" aria-haspopup="true" role="tooltip" [class.invalid]="email.touched && !email.valid" class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                <input type="email" id="emailInput" required [(ngModel)]="signup.email" name="email" #email="ngModel">
                <span class="tooltip-content">This field cannot be empty!</span>
              </label>
            </div>
            <div class="form-group">
              <label>Confirm email</label>
              <label for="vemailInput" aria-haspopup="true" role="tooltip" [class.invalid]="box.touched && !box.valid" class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                <input type="email" id="vemailInput" required [(ngModel)]="vemail" name="vemail" #box="ngModel">
                <span class="tooltip-content">This field cannot be empty!</span>
              </label>
            </div>
          </section>
        </form>
      </clr-wizard-page>

      <clr-wizard-page [clrWizardPageNextDisabled]="username.pristine || !formPageThree.valid">
        <ng-template clrPageTitle>Almost there!</ng-template>
        <ng-template clrPageNavTitle>Account</ng-template>
        <form #formPageThree="ngForm">
          <section class="form-block">
            <label>Enter a username & password</label>
            <div class="form-group">
              <label>Username</label>
              <label for="emailInput" aria-haspopup="true" role="tooltip" [class.invalid]="username.touched && !username.valid" class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                <input type="text" id="usernameInput" required [(ngModel)]="signup.username" name="username" #username="ngModel">
                <span class="tooltip-content">This field cannot be empty!</span>
              </label>
            </div>
            <div class="form-group">
              <label>Password</label>
              <label for="passwordInput" aria-haspopup="true" role="tooltip" [class.invalid]="password.touched && !password.valid" class="tooltip tooltip-validation tooltip-md tooltip-bottom-right">
                <input type="password" id="passwordInput" required [(ngModel)]="signup.password" name="password" #password="ngModel">
                <span class="tooltip-content">This field cannot be empty!</span>
              </label>
            </div>
          </section>
        </form>
      </clr-wizard-page>

      <clr-wizard-page [clrWizardPageNextDisabled]="!formPageOne.valid || !formPageTwo.valid || !formPageThree.valid">
        <ng-template clrPageTitle>Your Information</ng-template> <!-- mandatory -->
        <ng-template clrPageNavTitle>
          <span *ngIf="formPageOne.valid && formPageTwo.valid && formPageThree.valid">Ready to go!</span>
          <span *ngIf="!formPageOne.valid || !formPageTwo.valid || !formPageThree.valid">Incomplete</span>
        </ng-template> <!-- optional -->

        <div *ngIf="formPageOne.valid && formPageTwo.valid && formPageThree.valid">
          <p>Congrats! Review your information.</p>
          <form class="compact">
            <section class="form-block">
              <div class="form-group">
                <label>Your first name:</label>
                <span>{{ this.signup.firstName }}</span>
              </div>
              <div class="form-group">
                <label>Your last name:</label>
                <span>{{ this.signup.lastName }}</span>
              </div>
              <div class="form-group">
                <label>Your email:</label>
                <span>{{ this.signup.email }}</span>
              </div>
              <div class="form-group">
                <label>Your username:</label>
                <span>{{ this.signup.username }}</span>
              </div>
            </section>
          </form>
        </div>

        <div *ngIf="!formPageOne.valid || !formPageTwo.valid || !formPageThree.valid">
          <p>Not quite there yet.</p>
        </div>

      </clr-wizard-page>
    </clr-wizard>

  </div>
</clr-main-container>