<h1>About</h1>
<section class="main-content">
  <div class="card">
    <div class="card-img">
      <img src="http://via.placeholder.com/1630x300/29B6F6/ffffff/jpg?text=Chart">
    </div>
    <div class="card-block">
      <h4 class="card-title">Title</h4>
      <div class="card-text">
        <p>This is the about page!</p>
        <p>Donec lobortis feugiat nisi, ac lobortis ligula. Fusce finibus imperdiet orci sed pharetra. Integer sed nisi sed mi pulvinar euismod ac eget sapien. In nec euismod ipsum, in tristique metus. Aliquam eleifend magna vitae purus pellentesque, suscipit aliquet ipsum ultricies. Nulla enim risus, tincidunt id tellus interdum, volutpat egestas nibh. Duis eros augue, volutpat vitae mollis quis, pretium quis nulla. Duis id tellus non mi tincidunt laoreet eu et neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras fringilla nulla orci, nec gravida justo viverra eget. Donec enim elit, efficitur nec mi sed, pulvinar imperdiet nunc. Nunc nec tincidunt dui. Nullam efficitur mollis libero imperdiet sodales. In purus leo, dignissim ac congue id, congue quis nibh. Quisque et sapien odio. Etiam consectetur nisl et sapien ornare, et hendrerit est laoreet.</p>
        <p>Morbi id accumsan erat. Vivamus ac placerat mauris. Fusce tellus arcu, sollicitudin non sem vel, gravida semper lorem. Aliquam tempor lobortis convallis. Curabitur lorem est, sodales et ornare eget, semper ut quam. Mauris velit sapien, viverra sit amet elit a, iaculis aliquet erat. Aenean elit nulla, iaculis eget eros in, tincidunt pulvinar nisi. Sed malesuada nulla ac mi fermentum, interdum maximus nisi congue. Aenean non urna justo. Aliquam quis ante vitae dolor tincidunt iaculis non non ipsum. Proin a porta ligula, at bibendum sem. In malesuada consectetur velit, pretium porttitor ante dapibus ut. Phasellus maximus et urna vel tempus.</p>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Lorem ipsum dolor.</li>
      <li class="list-group-item">Lorem ipsum dolor sit.</li>
      <li class="list-group-item">Lorem ipsum.</li>
    </ul>
  </div>

</section>