<h1>Dashboard</h1>
<button class="btn btn-primary btn-group-right" (click)="opened = true">
	<clr-icon shape="plus" class="is-solid"></clr-icon>
	Add
</button>

<section class="main-content">
	<div class="card">
		<div class="card-header">
			Welcome {{fullname}}
		</div>
		<div class="card-block">
			<div class="card-text">
				<p>Praesent malesuada nibh ac imperdiet interdum. Etiam gravida, lorem a porta consectetur, purus purus vulputate odio, a pellentesque sapien ex posuere nunc. Integer eleifend fermentum enim, ac suscipit eros ullamcorper non. In ac ligula eu risus gravida posuere. Maecenas viverra enim sed commodo finibus. Duis odio lacus, finibus a mauris vitae, imperdiet consectetur orci. Fusce convallis eros odio, vel auctor magna molestie ut.</p>
				<p>Maecenas elit risus, ultrices eget tempus in, efficitur at augue. Donec laoreet augue vitae arcu interdum tristique. Cras mollis libero quam, et suscipit mauris scelerisque finibus. Etiam maximus purus eu fermentum tristique. Proin ultricies tellus orci, ut varius felis volutpat vel. Aliquam purus dui, auctor eu posuere ut, congue porta diam. Nulla eu orci eget erat scelerisque fermentum at id ex.</p>
			</div>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-link" (click)="opened = true">
				<clr-icon shape="plus" class="is-solid"></clr-icon>
				Add New Stock
			</button>
		</div>
	</div>
	<div class="card card-performance">
		<div class="card-header">
			Top Stocks
		</div>
		<div class="card-block">
			<div class="card-chart card-text">
				<ngx-charts-area-chart
						[view]="chartData"
						[scheme]="colorScheme"
						[results]="multiData"
						[gradient]="gradient"
						[xAxis]="showXAxis"
						[yAxis]="showYAxis"
						[legend]="showLegend"
						[showXAxisLabel]="showXAxisLabel"
						[showYAxisLabel]="showYAxisLabel"
						[autoScale]="autoScale"
						(select)="onSelect($event)">
				</ngx-charts-area-chart>
			</div>
			<div class="card-text">
				<clr-tabs>
					<clr-tab *ngFor="let tab of stocksArray">
						<button clrTabLink>{{tab.name}}</button>
							<clr-tab-content>
								<clr-datagrid>
									<clr-dg-column>Date</clr-dg-column>
									<clr-dg-column>Open</clr-dg-column>
									<clr-dg-column>High</clr-dg-column>
									<clr-dg-column>Low</clr-dg-column>
									<clr-dg-column>Close</clr-dg-column>
									<clr-dg-column>Volume</clr-dg-column>

									<clr-dg-row *clrDgItems='let data of tab.stockData'>
										<clr-dg-cell>{{data.date | date}}</clr-dg-cell>
										<clr-dg-cell>{{data.open | number:'2.2' }}</clr-dg-cell>
										<clr-dg-cell>{{data.close | number:'2.2' }}</clr-dg-cell>
										<clr-dg-cell>{{data.high | number:'2.2' }}</clr-dg-cell>
										<clr-dg-cell>{{data.low | number:'2.2' }}</clr-dg-cell>
										<clr-dg-cell>{{data.volume}}</clr-dg-cell>
									</clr-dg-row>

									<clr-dg-footer>
										{{pagination1.firstItem + 1}} - {{pagination1.lastItem + 1}}
										of {{pagination1.totalItems | i18nPlural: itemMapping }}
										<clr-dg-pagination #pagination1 [clrDgPageSize]="5" [clrDgTotalItems]="5"></clr-dg-pagination>
									</clr-dg-footer>
								</clr-datagrid>
							</clr-tab-content>
					</clr-tab>

				</clr-tabs>

			</div>
		</div>
	</div>

	<app-stock-card [stock]="stocksObject" [symbol]="stocks" *ngFor="let stocks of stocksArray" (elementDeleted)="onElementDeleted($event)" (stockPulled)="getChildStocks($event)"></app-stock-card>

</section>

<clr-modal [(clrModalOpen)]="opened" [clrModalStaticBackdrop]="true">
	<h3 class="modal-title">Add a new Stock</h3>
	<div class="modal-body">
		<input type="text" id="addStock" #stockTicker (input)="stockTicker.value=$event.target.value.toUpperCase()" placeholder="Stock Ticker Symbol">
        <input type="text" id="addStockName" #stockName (input)="stockName.value" placeholder="Stock Name">
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline" (click)="opened = false">Cancel</button>
		<button type="button" class="btn btn-primary" (click)="addStock({name: stockName.value, symbol: stockTicker.value}); opened = false; stockTicker.value =''; stockName.value ='' ">Ok</button>
	</div>
	<div class="modal-backdrop fade in" aria-hidden="true"></div>
</clr-modal>