<h1>Dashboard</h1>
<section class="main-content">
	<div class="card">
		<div class="card-header">
			Welcome {{fullname}}
		</div>
		<div class="card-block">
			<div class="card-text">
				<p>Praesent malesuada nibh ac imperdiet interdum. Etiam gravida, lorem a porta consectetur, purus purus vulputate odio, a pellentesque sapien ex posuere nunc. Integer eleifend fermentum enim, ac suscipit eros ullamcorper non. In ac ligula eu risus gravida posuere. Maecenas viverra enim sed commodo finibus. Duis odio lacus, finibus a mauris vitae, imperdiet consectetur orci. Fusce convallis eros odio, vel auctor magna molestie ut.</p>
			</div>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-link">Add New Stock</button>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			Portfolio Peroformance
		</div>
		<div class="card-img">
			<img src="http://via.placeholder.com//540x200/006a91/ffffff/jpg?text=Overview+Chart">
		</div>
		<div class="card-block">
			<div class="card-text">
				<clr-datagrid>
					<clr-dg-column>Date</clr-dg-column>
					<clr-dg-column>Buy</clr-dg-column>
					<clr-dg-column>Sell</clr-dg-column>
					<clr-dg-column>Close</clr-dg-column>

					<clr-dg-row>
						<clr-dg-cell>09.25.17</clr-dg-cell>
						<clr-dg-cell>115.3</clr-dg-cell>
						<clr-dg-cell>117.14</clr-dg-cell>
						<clr-dg-cell>115.8</clr-dg-cell>
					</clr-dg-row>

					<clr-dg-row>
						<clr-dg-cell>09.24.17</clr-dg-cell>
						<clr-dg-cell>114.1</clr-dg-cell>
						<clr-dg-cell>116.9</clr-dg-cell>
						<clr-dg-cell>115.1</clr-dg-cell>
					</clr-dg-row>

					<clr-dg-footer>2 dates</clr-dg-footer>
				</clr-datagrid>
			</div>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			GOOGL
		</div>
		<div class="card-img">
			<img src="http://via.placeholder.com//540x200/006a91/ffffff/jpg?text=Chart">
		</div>
		<div class="card-block">
			<div class="card-title">
				Block
			</div>
			<div class="card-text">
				...
			</div>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-link">Remove</button>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			AAPL
		</div>
		<div class="card-img">
			<img src="http://via.placeholder.com//540x200/006a91/ffffff/jpg?text=Chart">
		</div>
		<div class="card-block">
			<div class="card-title">
				Block
			</div>
			<div class="card-text">
				...
			</div>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-link">Remove</button>
		</div>
	</div>
	<div class="card">
		<div class="card-header">
			AMAZ
		</div>
		<div class="card-img">
			<img src="http://via.placeholder.com//540x200/006a91/ffffff/jpg?text=Chart">
		</div>
		<div class="card-block">
			<div class="card-title">
				Block
			</div>
			<div class="card-text">
				...
			</div>
		</div>
		<div class="card-footer">
			<button class="btn btn-sm btn-link">Remove</button>
		</div>
	</div>
</section>