<div class="card">
  <div class="card-header">
    GOOGL
  </div>
  <div class="card-img">
    <img src="http://via.placeholder.com/540x200/154360/ffffff/jpg?text=Chart">
  </div>
  <div class="card-block">
    <div class="card-title">
      Current Stock Info for :
    </div>
    <div class="card-text">
      <table class="table table-vertical">
        <tbody>
        <tr>
          <th>Open</th>
          <td> {{ stocksObject.GOOG }}</td>
        </tr>
        <tr>
          <th>Close</th>
          <td></td>
        </tr>
        <tr>
          <th>High</th>
          <td></td>
        </tr>
        <tr>
          <th>Low</th>
          <td></td>
        </tr>
        <tr>
          <th>Vulume</th>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link">
      <clr-icon shape="star"></clr-icon>
      Favorite
    </button>
    <button class="btn btn-sm btn-link">
      <clr-icon shape="trash"></clr-icon>
      Remove
    </button>
  </div>
</div>