<div class="card">
  <div class="card-header">
    {{symbol.name}}
  </div>
  <div class="card-img">
        <img *ngIf="!chartData" src="http://via.placeholder.com/540x200/154360/ffffff/jpg?text=Chart">
  </div>
  <div class="card-block">
     <div class="card-text card-chart" *ngIf="multi">
        <ngx-charts-area-chart-stacked
          [view]="view"
          [scheme]="colorScheme"
          [results]="multi"
          [gradient]="gradient"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showLegend"
          [timeline]="timeline"
          [showXAxisLabel]="showXAxisLabel"
          [showYAxisLabel]="showYAxisLabel"
          [xAxisLabel]="xAxisLabel"
          [yAxisLabel]="yAxisLabel"
          (select)="onSelect($event)">
        </ngx-charts-area-chart-stacked>
    </div>
    <div class="card-title" *ngIf='symbol.symbol'>
      Current Stock Info for: {{symbol.symbol}}
    </div>
    <div class="card-text">
      <table class="table table-vertical" *ngIf="latestData">
        <tbody>
        <tr>
          <th>Last Updated</th>
          <td>{{latestData.date | date}}</td>
        </tr>
        <tr>
          <th>Open</th>
          <td>{{latestData.open | number:'2.2' }}</td>
        </tr>
        <tr>
          <th>Close</th>
          <td>{{latestData.close | number:'2.2' }}</td>
        </tr>
        <tr>
          <th>High</th>
          <td>{{latestData.high | number:'2.2' }}</td>
        </tr>
        <tr>
          <th>Low</th>
          <td>{{latestData.low | number:'2.2' }}</td>
        </tr>
        <tr>
          <th>Volume</th>
          <td>{{latestData.volume}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer">
    <button class="btn btn-sm btn-link" (click)="setFav(symbol)">
      <clr-icon shape="star" [class.is-solid]="symbol.isFave == true"></clr-icon>
      Favorite
    </button>
    <button class="btn btn-sm btn-link" (click)="deleteElement(symbol)">
      <clr-icon shape="trash"></clr-icon>
      Remove
    </button>
  </div>
</div>